.navbar {
  font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: $secondary_color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-style: solid;
    border-width: 1rem;
    font-size: 1.3rem;
  
    .logo {
      width: 15rem;
  
    
  }

  ul.navbar-nav {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 2rem;

    li {
      flex-grow: 1;
      text-align: center;
    }
  }
}