.navbar {
  font-family: $font_neue;
    background-color: $secondary_color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    border-style: solid;
    border-width: 0.5rem;
    font-size: 1.3rem;
  
    .logo {
      width: 15rem;
    }

    a {
      color: $main_color;
    }

  ul.navbar-nav {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 2rem;

    li {
      flex-grow: 1;
      text-align: center;
    }
  }
}