main {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

body {
  background-image: url("../img/Eminem-background.jpg") !important;
  background-repeat: no-repeat;
  background-size: cover;
}
