main {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    

}

body{
    background-image: url('../img/Eminem-background.jpg') !important;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.img {
    transition: opacity 0.3s ease;
}

.img-thumbnail:hover {
    opacity: 0.5;
}
