@media (max-width: 1079px) { /* Responsive por mediaquery de la tercera página */
    .third-page {
    grid-template-areas:
    "relapse-cover relapse-cover relapse-cover"
    "relapse-tracklist relapse-tracklist relapse-tracklist"
    "recovery-cover recovery-cover recovery-cover"
    "recovery-tracklist recovery-tracklist recovery-tracklist"
    "mmlp2-cover mmlp2-cover mmlp2-cover"
    "mmlp2-tracklist mmlp2-tracklist mmlp2-tracklist"
    }
}

@media (max-width: 768px) { /* media query para la foto de Eminem */
    .eminem-photo {
      max-width: 80%;
    }
  }


  @media (max-width: 768px) {
    .hero-photo {
      width: 100%;
    }
  
    .hero h2 {
      max-width: 100%;
    }
  }


  @media (max-width: 1280px) {
    .spotify .songs
    {
      display: flex;
      flex-direction: column;
      
    }

  }

  @media (max-width: 1280px) {
    .hero {

      .hero-photo
      {
        width: 80%;
      }
      h2 {
        width: 80%;
      }


    }





  }




