.spotify {
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%;
    
    p {
        font-size: 1.4rem;
        
    }
    
    .songs {
    display: flex;
    gap: 2rem;
}

}