.eminem-photo {

    border: 5px solid white;
}



.who-is {
    text-align: center;
    font-weight: bold;
    color: black;
    background-color: white;
    border: 5px solid black;

}

.eminem-bio-1 p {

    background-color: white;
    border: 5px solid black;
    padding: 1rem;
}


